body {
  font-family: "Rubik", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, p,
ul, li, input, form {
  margin: 0;
  padding: 0;
}
p {
  padding: 7px 0;
}
a {
  color: #0f5199;
  text-decoration: none
}
a:hover {
  color: #3844d1;
}
strong {
  font-weight: 500
}
form[method=post] {
  padding: 20px;
}
.hide {
  display: none
}
.fade {
  color: #bbb;
}
a.fade {
  color: #888;
}
a.fade:hover {
  color: #777;
}
.error {
  color: #EA2028;
}
.info {
  color: #58bb36;
}
.list {
  list-style: none
}
.list li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

header {
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(150,150,150,0.2);
  padding: 15px 0;
  margin-bottom: 50px
}
header ul {
  list-style: none;
}
header li {
  display: inline-block;
}
header input {
  border: 0 !important;
  outline: 0;
}

header ul a {
  color: #777;
  display: block;
  padding: 6px;
  margin-left: 15px
}
header ul a:hover {
  color: #444;
  text-decoration: none;
}
header ul li:first-child a {
  margin-left: 0
}
header ul a.active {
  color: #444;
}
.has-sub {
  position: relative;
}
.has-sub:hover .subnav {
  display: block
}
header .subnav {
  border-radius: 3px;
  display: none;
  position: absolute;
  box-shadow: 2px 2px 5px 0px rgba(221,221,221,1);
  border: 1px solid #ddd;
  margin: 0;
  z-index: 10;
  padding: 5px 0;
  background-color: #fff;
  text-align: left
}
header .subnav li {
  display: block;
  margin: 0;
  padding: 0 10px;
}
.subnav a {
  padding: 3px 20px 3px 3px;
}
.separator {
  height: 2px;
  border-top: 1px solid #eee;
}

.align-right {
  text-align: right
}
.center {
  text-align: center
}
.right {
  float: right
}
.left {
  float: left
}
.pad-btm {
  padding-bottom: 20px
}
.pad-big {
  padding: 50px;
}

.box,
.feed {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 4px
}
.box {
  margin-bottom: 20px
}
.box.big {
  padding: 50px
}
.feed > .row {
  padding: 15px 0;
}
.feed > .row .columns:first-child {
  padding-left: 10px;
}
.feed > .row .columns:last-child {
  padding-right: 10px;
}
.feed > .row:nth-child(even) {
  background-color: #fbfbfb
}
.th {
  border-bottom: 1px solid #f2f2f2;
}
.th a {
  color: #777
}
.avatar {
  width: 36px;
  border-radius: 50%;
  display: block;
}
.tag {
  color: #444;
  background-color:#f5f0e5;
  padding: 4px;
  border-radius: 3px;
}
.tag.green {
  background-color: #a0e7b0;
}
.tag.yellow {
  background-color:#ffefb9
}

.bar {
  margin: 10px 0 20px
}

tags {
  border-radius: 4px;
  background-color: #fff
}
tags input {
  margin:0;
}
tags tag > div {
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #ddd;
}
tags > div {
}

.modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  box-shadow: -2px 0px 5px 0px rgba(150,150,150,0.75);
}

/*
Button override
*/
.small-button {
  color: #f2eefc;
  background-color: #7851de;
  border-color: #6d43db;
  padding: 5px 10px;
  border-radius: 3px;
  white-space: nowrap;
}
.small-button:hover {
  color: #fff
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  font-weight: 500;
  color: #f2eefc;
  background-color: #7851de;
  border-color: #6d43db; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  text-decoration: none;
  color: #f2eefc;
  background-color: #6d43db;
  border-color: #6d43db; }

/*
  Form field override
*/
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #aaa;
}
