body {
  font-family: "Rubik", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  background-color: #f2f2f2;
}

h1, h2, h3, h4, h5,
ul, li, input {
  margin: 0;
  padding: 0;
}
a {
  color: #0f5199;
  text-decoration: none
}
a:hover {
  color: #3844d1;
}
.fade {
  color: #bbb;
}

header {
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(150,150,150,0.2);
  padding: 15px 0;
  margin-bottom: 50px
}
header ul {
  list-style: none;
}
header li {
  display: inline-block;
}
header input {
  border: 0 !important;
  outline: 0;
}

header ul a {
  color: #777;
  display: block;
  padding: 6px;
  margin-left: 15px
}
header ul a:hover {
  color: #444;
  text-decoration: none;
}
header ul a:first-child {
  margin-left: 0
}
header ul a.active {
  color: #444;
}

.align-right {
  text-align: right
}
.center {
  text-align: center
}
.right {
  float: right
}
.left {
  float: left
}

.feed {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 4px
}
.feed .row {
  padding: 15px 0;
}
.feed .row .columns:first-child {
  padding-left: 10px;
}
.feed .row .columns:last-child {
  padding-right: 10px;
}
.feed .row:nth-child(even) {
  background-color: #fbfbfb
}
.th {
  border-bottom: 1px solid #f2f2f2;
}
.th a {
  color: #777
}
.avatar {
  width: 64px;
  border-radius: 50%;
  display: block;
}
.tag {
  color: #444;
  background-color:#f5f0e5;
  padding: 5px 10px;
  border-radius: 3px;
}
.tag.green {
  background-color: #a0e7b0;
}
.tag.yellow {
  background-color:#ffefb9
}

.bar {
  margin: 10px 0 20px
}

