<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/feather.css">

</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="five columns">
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/feed" class="active">Feed</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
      </div>
      <div class="two columns center">
        <h5><a href="/"><i class="icon-bar-graph-2"></i></a></h5>
      </div>
      <div class="five columns align-right">
        <ul>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
