<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Detailed analytics and reporting for your Mailgun transactional emails</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Detailed analytics and reporting for your Mailgun transactional emails">
  <meta name="slack-app-id" content="A6566DWTS">
  <link href="//fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css?18112017">
  <link rel="stylesheet" href="css/feather.css">

  <style type="text/css">
  section {
    padding: 100px 0;
  }
  strong {
    color: #111;
  }
  header {
    padding: 10% 0 0;
    margin-bottom: 0;
    box-shadow: none;
  }
  header h1 span {
    position: relative;
    top: 5px;
  }
  nav {
    position: fixed;
    text-align: right;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    border-bottom: 1px solid #eee
  }
  .features {
    background-color: #fff;
  }
  .features img {
    display: block;
    margin: 40px 0;
    box-shadow: 0 20px 80px rgba(120, 81, 222, 0.07)
  }
  img {
    max-width: 100%
  }
  img.bordered {
    border: 1px solid #ddd;
    display: block;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(150,150,150,0.2);
  }
  img.shadowed {
    border-radius: 20px;
    /*box-shadow: 1px 3px 1px 0px rgba(150,150,150,0.2);*/
  }
  .price {
    padding-top:50px
  }
  .price .three {
    padding: 10px 0;
    border-right: 1px dotted #bbb;
  }
  .price .three:last-child {
    border-right: 0;
  }
  .faq {
    background-color:#fff;
  }
  .faq .row {
    margin-bottom: 10px
  }
  footer {
    padding: 30px 0;
  }
  /* responsive touch */
  @media (max-width: 800px) {
    section {
      padding: 50px 0;
    }
    header {
      background: #fff;
    }
    header .one-half.column {
      width: 80%
    }
  }
  /* responsive touch */
  @media (max-width: 800px) {
    section {
      padding: 50px 0;
    }
    header {
      background: #fff;
    }
    header .one-half.column {
      width: 80%
    }
  }
  </style>
</head>
<body>

<nav>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="http://github.com/kehers/suet" class="button button-primary" style="margin-bottom:0">Download</a></li>
  </ul>
</nav>

<header>
  <div class="container">
    <div class="row">
      <div class="six columns offset-by-three center">
        <h1><a href="/"><i class="icon-bar-graph-2"></i> <span>suet</span></a><span class="headway" style="position:absolute"></span></h1>
        <div class="hero">
          <h4 class="title">Detailed analytics and reporting for your Mailgun transactional emails</h4>
          <p><a href="/signup" class="button button-primary">Signup</a>  <a href="/login" class="button"><i class="icon-skip-forward"></i> Login</a></p>
        </div>
      </div>
    </div>
  </div>
</header>
<section style="background-color:#fff;padding-bottom:0">
  <div class="container">
    <div class="row">
      <div class="eight columns offset-by-two">
        <h6><i>"How many users got the update Mail? How well are mails performing?"</i></h6>
        <h6>Suet connects to your <a href="https://mailgun.com/">Mailgun</a> account to provide more detailed analytics and reporting for Mails sent through Mailgun</h6>
        <p>&nbsp;</p>
        <img src="images/hero.png" class="">
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h3>Features</h3>
        <p>&nbsp;</p>
        <div class="row">
          <div class="six columns">
            <h5>Engagement overview</strong></h5>
            <p>Sent count, daily interactions, top items? Get a general overview of your mails' performance.</p>
          </div>
          <div class="six columns">
            <h5>Get notifications on Slack</h5>
            <p>Connect Slack and get failure, bounce and complaint notifications.</p>
          </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
          <div class="six columns">
            <h5>Deliveries, opens and clicks</h5>
            <p>Track deliveries, opens, clicks and uniques across mails and recipients.</p>
          </div>
          <div class="six columns">
            <h5>Live feed</h5>
            <p>Get events from your mails as they happen. You can further filter based on the different event types.</p>
          </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
          <div class="six columns">
            <h5>View emails</h5>
            <p>See exactly what is sent to users. What does the delivered mail look like? What details were missing?</p>
          </div>
          <div class="six columns">
            <h5>Recipients and activity</h5>
            <p>View recipient journey from delivery to open and clicks. Know who opened and clicked on what.</p>
          </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
          <div class="six columns">
            <h5>Bring your team</h5>
            <p>Invite other members of your team to your analytics dashboard</p>
          </div>
        </div>
      </div>
      <div class="six columns">
        <img src="images/slack.png">
        <img src="images/mails.png">
        <img src="images/live.png">
        <!--img src="images/clicks.png"-->
      </div>
    </div>
  </div>
</section>
<section class="pricing" id="pricing">
  <div class="container">
    <div class="row">
      <div class="six columns offset-by-three">
        <h3 class="title">Pricing</h3>
        <p>Pricing is based on the number of Mailgun events received per month irrespective of the number of domains in your account.</p>
        <p>An event is something that happens to an email. This could be a delivery, open, bounce or click on a link. Note that non-unique events are also tracked. This means if a recipient opens the same email twice, 2 events are tracked and not one.</p>
        <p>At the end of the month, you will be sent an invoice for the number of events consumed by your account.</p>
      </div>
    </div>
    <div class="row price">
      <div class="three columns">
        <div>
          <h4>Dev</h4>
          <p>One month free trial<br>
          Up to 5k events/month</p>
          <h1>$5</h1>
          <p><a href="/signup?dev" class="button button-primary">Signup</a></p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <h4>Pro</h4>
          <p>One month free trial<br>
          Up to 50k events/month</p>
          <h1>$20</h1>
          <p><a href="/signup?pro" class="button button-primary">Signup</a></p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <h4>Biz</h4>
          <p>One month free trial<br>
          Up to 500k events/month</p>
          <h1>$100</h1>
          <p><a href="/signup?biz" class="button button-primary">Signup</a></p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <p><strong>More?</strong></p>
          <p><a href="http://github.com/kehers/suet">Download</a> and self-host<br>or <a href="mailto:hello@suet.co">get in touch</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="faq">
  <div class="container">
    <h3 class="title">FAQ</h3>
    <div class="row">
      <div class="six columns">
        <p><strong>How is this different from the analytics in Mailgun dashboard?</strong></p>
        <p>Suet gives more detailed analytics like uniques, click throughs, top interactions and on top of that presents it in an easy to follow way. It also connects to your Slack account to notify you of failures and bounces.</p>
      </div>
      <div class="three columns">
        <p><strong>Can I try it out without paying?</strong></p>
        <p>Absolutely. <a href="signup">Sign up</a> for free and try it out for a month. Pay only if convinced.</p>
      </div>
      <div class="three columns">
        <p><strong>Can I host it on my own server?</strong></p>
        <p>Yes. Suet is <a href="http://github.com/kehers/suet">open source</a>. You can download and get instructions on how to set it up <a href="http://github.com/kehers/suet">here</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <p><strong>Does Suet handle bulk emails sent via Mailgun too?</strong></p>
        <p>If you are using Mailgun to send bulk emails/campaigns like newsletters, you need to let Suet know to group the analytics. To do this, send the email through <a href="http://mailgun-documentation.readthedocs.io/en/latest/user_manual.html#batch-sending">Mailgun's batch sending API</a> (instead of SMTP). Batch sending is limited to 1000 emails per send though. Support for <a href="http://mailgun-documentation.readthedocs.io/en/latest/user_manual.html#tagging">tagging</a>, which is a better approach, coming soon.</p>
      </div>
      <div class="three columns">
        <p><strong>I only see delivered events. What of opens and clicks?</strong></p>
        <p>Make sure you turn on open and click tracking in your Mailgun dashboard and also set the URLs in webhooks.</p>
      </div>
      <div class="three columns">
        <p><strong>I have other questions</strong></p>
        <p>Get in touch via <a href="http://twitter.com/suet_co">@suet_co</a> on Twitter or send an email to <a href="mailto:hello@suet.co">hello@suet.co</a>.</p>
      </div>
    </div>
  </div>
</section>

{% include 'partials/footer' %}
