<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Detailed analytics for your Mailgun transactional emails</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Detailed analytics for your Mailgun transactional emails">
  <link href="//fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/feather.css">

  <style type="text/css">
  section {
    padding: 150px 0;
  }
  header {
    padding: 11% 0;
    margin-bottom: 0;
    background: #fff url(images/screenshots/browser.png) bottom right no-repeat;
    background-size: 50%;
  }
  strong {
    color: #111;
  }
  header h5 span {
    position: relative;
    top: 3px;
  }
  .features {
    background-image: linear-gradient( 135deg, #7c64ea 0%, #5637e4 100%);
    color: #f0effb;
  }
  .features strong {
    color: #fff;
  }
  .price {
    padding-top:50px
  }
  .price .three {
    padding: 10px 0;
    border-right: 1px dotted #bbb;
  }
  .price .three:last-child {
    border-right: 0;
  }
  footer {
    padding: 30px 0;
  }
  /* responsive touch */
  @media (max-width: 800px) {
    section {
      padding: 50px 0;
    }
    header {
      background: #fff;
    }
    header .one-half.column {
      width: 80%
    }
  }
  /* responsive touch */
  @media (max-width: 800px) {
    section {
      padding: 50px 0;
    }
    header {
      background: #fff;
    }
    header .one-half.column {
      width: 80%
    }
  }
  </style>
</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h5><a href="/"><i class="icon-bar-graph-2"></i> <span>suet</span></a></h5>
        <div class="hero">
          <h5 class="title">Detailed analytics for your Mailgun transactional emails</h5>
          <p><a href="/signup" class="button button-primary">Signup</a>  <a href="/login" class="button"><i class="icon-skip-forward"></i> Login</a> <a href="http://github.com/kehers/suet" class="button"><i class="icon-arrow-down"></i> Download</a> </p>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <p><strong>Engagement overview</strong></p>
        <p>Numbers, interactions across days, top items? Get a general overview of your mails' performance.</p>
      </div>
      <div class="three columns">
        <p><strong>Live feed</strong></p>
        <p>Get events from your mails as they happen. You can further filter based on the different event types.</p>
      </div>
      <div class="three columns">
        <p><strong>Deliveries, opens and clicks</strong></p>
        <p>Track deliveries, opens, clicks and uniques across mails and recipients</p>
      </div>
      <div class="three columns">
        <p><strong>Recipients and activity</strong></p>
        <p>View recipient journey from delivery to open and clicks. Know who opened and clicked on what.</p>
      </div>
    </div>
  </div>
</section>
<section class="pricing">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h5 class="title">Pricing</h5>
        <p>Pricing is based on the number of Mailgun events received per month irrespective of the number of domains in your account.</p>
        <p>An event is something that happens to an email. This could be a delivery, open, bounce or click on a link. Note that non-unique events are also tracked. This means if a recipient opens the same email twice, 2 events are tracked and not one.</p>
      </div>
    </div>
    <div class="row price">
      <div class="three columns">
        <div>
          <p><strong>Dev</strong></p>
          <p>$5/month<br>Up to 5k events/month</p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <p><strong>Pro</strong></p>
          <p>$20/month<br>Up to 50k events/month</p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <p><strong>Biz</strong></p>
          <p>$100/month<br>Up to 500k events/month</p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <p><strong>More?</strong></p>
          <p><a href="mailto:hello@suet.co">Get in touch</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color:#fff">
  <div class="container">
    <h5 class="title">FAQ</h5>
    <div class="row">
      <div class="three columns">
        <p><strong>Why build this?</strong></p>
        <p>I wanted a more detailed analytics for transactional mails sent for <a href="http://thefeed.press">thefeed.press</a> and <a href="http://obem.be/opeyemi">other projects</a>.</p>
      </div>
      <div class="three columns">
        <p><strong>Why does it cost money?</strong></p>
        <p>The fee covers hosting, development, support and maintaining the server and related services.</p>
      </div>
      <div class="three columns">
        <p><strong>Can I try it out without paying?</strong></p>
        <p>Absolutely. <a href="signup">Sign up</a> for free and try it out for a month. Pay only if convinced.</p>
      </div>
      <div class="three columns">
        <p><strong>Can I host it on my own server?</strong></p>
        <p>Yes. Suet is <a href="http://github.com/kehers/suet">open source</a>. You can download and get instructions on how to set it up <a href="http://github.com/kehers/suet">here</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <p><strong>What if I exceed my allocated events for the month?</strong></p>
        <p>You will be notified but Suet will continue to receive your events (you won't be charged for the extra events). You can upgrade immediately or at the next billing cycle. If at the next cycle you do not upgrade and you exceed your limits again, you will need to upgrade to continue receiving the extra events.</p>
      </div>
      <div class="three columns">
        <p><strong>Who are you?</strong></p>
        <p>My name is <a href="http://obem.be/opeyemi">Opeyemi Obembe</a>. I build things for web and mobile.</p>
      </div>
      <div class="three columns">
        <p><strong>I have other questions</strong></p>
        <p>Get in touch via <a href="http://twitter.com/suet_co">@suet_co</a> on Twitter or send an email to <a href="mailto:hello@suet.co">hello@suet.co</a>.</p>
      </div>
    </div>
  </div>
</section>
<footer>
    <div class="container">
      <div class="row">
        <p class="right">&copy; 2017, Suet</p>
        <ul>
          <li><a href="http://twitter.com/suet_co">@suet_co</a></li>
          <!--li><a href="">Legal</a></li-->
          <li><a href="mailto:hello@suet.co">Contact</a></li>
          <li><a href="http://github.com/kehers/suet">Download</a></li>
          <li><a href="http://updates.suet.co/">Changelog</a></li>
          <li><a href="http://github.com/kehers/suet/issues">Issues</a></li>
        </ul>
      </div>
    </div>
</footer>

</body>
</html>
