<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Detailed analytics and reporting for your Mailgun transactional emails</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Detailed analytics and reporting for your Mailgun transactional emails">
  <meta name="slack-app-id" content="A6566DWTS">
  <link href="//fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/feather.css">

  <style type="text/css">
  section {
    padding: 150px 0;
  }
  header {
    padding: 11% 0;
    margin-bottom: 0;
    background: #fff url(images/screenshots/browser.png) bottom right no-repeat;
    background-size: 50%;
  }
  strong {
    color: #111;
  }
  header h5 span {
    position: relative;
    top: 3px;
  }
  .features {
    background-image: linear-gradient( 135deg, #7c64ea 0%, #5637e4 100%);
    color: #f0effb;
  }
  .features strong {
    color: #fff;
  }
  .slack img {
    border: 1px solid #ddd;
    display: block;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(150,150,150,0.2);
  }
  .price {
    padding-top:50px
  }
  .price .three {
    padding: 10px 0;
    border-right: 1px dotted #bbb;
  }
  .price .three:last-child {
    border-right: 0;
  }
  .faq {
    background-color:#fff;
  }
  .faq .row {
    margin-bottom: 10px
  }
  footer {
    padding: 30px 0;
  }
  /* responsive touch */
  @media (max-width: 800px) {
    section {
      padding: 50px 0;
    }
    header {
      background: #fff;
    }
    header .one-half.column {
      width: 80%
    }
  }
  /* responsive touch */
  @media (max-width: 800px) {
    section {
      padding: 50px 0;
    }
    header {
      background: #fff;
    }
    header .one-half.column {
      width: 80%
    }
  }
  </style>
</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h5><a href="/"><i class="icon-bar-graph-2"></i> <span>suet</span></a><span class="headway" style="position:absolute"></span></h5>
        <div class="hero">
          <h5 class="title">Detailed analytics and reporting for your Mailgun transactional emails</h5>
          <p><a href="/signup" class="button button-primary">Signup</a>  <a href="/login" class="button"><i class="icon-skip-forward"></i> Login</a></p>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <p><strong>Engagement overview</strong></p>
        <p>Numbers, interactions across days, top items? Get a general overview of your mails' performance.</p>
      </div>
      <div class="three columns">
        <p><strong>Get notifications on Slack</strong></p>
        <p>Connect Slack and get failure, bounce and complaint notifications.</p>
      </div>
      <div class="three columns">
        <p><strong>Deliveries, opens and clicks</strong></p>
        <p>Track deliveries, opens, clicks and uniques across mails and recipients.</p>
      </div>
      <div class="three columns">
        <p><strong>Live feed</strong></p>
        <p>Get events from your mails as they happen. You can further filter based on the different event types.</p>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
      <div class="three columns">
        <p></p>
      </div>
      <div class="three columns">
        <p><strong>View emails</strong></p>
        <p>See exactly what is sent to users. What does the delivered mail look like? What details were missing?</p>
      </div>
      <div class="three columns">
        <p><strong>Recipients and activity</strong></p>
        <p>View recipient journey from delivery to open and clicks. Know who opened and clicked on what.</p>
      </div>
    </div>
  </div>
</section>
<section class="slack" style="background-color:#fff">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h5 class="title">Slack</h5>
        <p>Suet connects to your Slack account to send you complaints, bounce and failure notifications. Simply access <strong>Domain Settings</strong> in your dashboard and click the <strong>Add to Slack</strong> button.</p>
      </div>
      <div class="six columns">
        <img src="images/slack.png">
      </div>
    </div>
  </div>
</section>
<section class="pricing">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h5 class="title">Pricing</h5>
        <p>Pricing is based on the number of Mailgun events received per month irrespective of the number of domains in your account.</p>
        <p>An event is something that happens to an email. This could be a delivery, open, bounce or click on a link. Note that non-unique events are also tracked. This means if a recipient opens the same email twice, 2 events are tracked and not one.</p>
      </div>
    </div>
    <div class="row price">
      <div class="three columns">
        <div>
          <p><strong>Dev</strong></p>
          <p>$5/month<br>Up to 5k events/month</p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <p><strong>Pro</strong></p>
          <p>$20/month<br>Up to 50k events/month</p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <p><strong>Biz</strong></p>
          <p>$100/month<br>Up to 500k events/month</p>
        </div>
      </div>
      <div class="three columns">
        <div>
          <p><strong>More?</strong></p>
          <p><a href="http:://github.com/kehers/suet">Download</a> and self-host<br>or <a href="mailto:hello@suet.co">get in touch</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="faq">
  <div class="container">
    <h5 class="title">FAQ</h5>
    <div class="row">
      <div class="three columns">
        <p><strong>Why build this?</strong></p>
        <p>I wanted a more detailed analytics and reporting for transactional mails sent for <a href="http://thefeed.press">thefeed.press</a> and <a href="http://obem.be/opeyemi">other projects</a>.</p>
      </div>
      <div class="three columns">
        <p><strong>Why does it cost money?</strong></p>
        <p>The fee covers hosting, development, support and maintaining the server and related services.</p>
      </div>
      <div class="three columns">
        <p><strong>Can I try it out without paying?</strong></p>
        <p>Absolutely. <a href="signup">Sign up</a> for free and try it out for a month. Pay only if convinced.</p>
      </div>
      <div class="three columns">
        <p><strong>Can I host it on my own server?</strong></p>
        <p>Yes. Suet is <a href="http://github.com/kehers/suet">open source</a>. You can download and get instructions on how to set it up <a href="http://github.com/kehers/suet">here</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <p><strong>Does Suet handle bulk emails sent via Mailgun too?</strong></p>
        <p>If you are using Mailgun to send bulk emails/campaigns like newsletters, you need to let Suet know to group the analytics. To do this, send the email through <a href="http://mailgun-documentation.readthedocs.io/en/latest/user_manual.html#batch-sending">Mailgun's batch sending API</a> (instead of SMTP). Batch sending is limited to 1000 emails per send though. Support for <a href="http://mailgun-documentation.readthedocs.io/en/latest/user_manual.html#tagging">tagging</a>, which is a better approach, coming soon.</p>
      </div>
      <div class="six columns">
        <p><strong>What if I exceed my allocated events for the month?</strong></p>
        <p>You will be notified but Suet will continue to receive your events (you won't be charged for the extra events). You can upgrade immediately or at the next billing cycle. If at the next cycle you do not upgrade and you exceed your limits again, you will need to upgrade to continue receiving the extra events.</p>
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <p><strong>Who are you?</strong></p>
        <p>My name is <a href="http://obem.be/opeyemi">Opeyemi Obembe</a>. I build things for web and mobile.</p>
      </div>
      <div class="three columns">
        <p><strong>I have other questions</strong></p>
        <p>Get in touch via <a href="http://twitter.com/suet_co">@suet_co</a> on Twitter or send an email to <a href="mailto:hello@suet.co">hello@suet.co</a>.</p>
      </div>
    </div>
  </div>
</section>

{% include 'partials/footer' %}
