{% include 'partials/header.liquid' %}

<section style="margin-top:5%">
  <div class="container">
    <div class="row">
      <div class="six columns offset-by-three">
        <h5 class="center pad-btm"><a href="/"><i class="icon-bar-graph-2"></i></a></h5>
        <div class="box">
          <form method="post">
            <p><strong>Select domains you want to activate for Suet.</strong></p>
            {% if error %}<p class="error">{{ error }}</p>{% endif %}
            <p>
              {% for domain in domains %}
              <label style="font-weight:normal"><input type="checkbox" name="domains[]" value="{{domain.name}}" checked> {{domain.name}}</label>
              {% endfor %}
            </p>
            <p><button class="button button-primary u-full-width">Add Domains</button></p>
          </form>
        </div>
        <p class="center"><a href="/mailgun/add-key">Back</a> &middot; <a href="/logout">Logout</a></p>
      </div>
    </div>
  </div>
</section>

<script src="//embed.small.chat/T2AEG8RR8G7RJN1BJ9.js" async></script>
</body>
</html>
