{% include 'partials/header.liquid' %}

<section>
  <div style="width:50%;position:fixed;height:100%;overflow-y:scroll">
    <div style="padding:50px">
      <h5 class="pad-btm"><a href="/"><i class="icon-bar-graph-2"></i></a></h5>
      <h5 class="pad-btm">Mailgun Setup Instructions</h5>
      <ol>
        <li>Login to your Mailgun dashboard and select any of your domain</li>
        <li>Copy your <code>API key</code> from the domain details and enter in the fields to the right. <span class="highlight">Your API key is used to get your domains, set event tracking for them and send quick mails from the Suet dashboard. <a href="/privacy" target="_blank">Learn more</a></span><br><img src="/images/mg-1.png" style="width:80%;padding:5px;border-radius:5px"></li>.</li>
      </ol>
      <p class=""><a href="/select-service">Back</a> &middot; <a href="/logout">Logout</a></p>
    </div>
  </div>
  <div style="width:60%;position:fixed;margin-left:50%;height:100%;background-color:#fff">
    <div style="padding:50px">
      <div style="width:400px;margin-top:100px">

          <form method="post">
            <p><strong>Add your Mailgun API key</strong></p>
            <p>Follow the instructions to the left to get your Mailgun API key.</p>
            {% if error %}<p class="error">{{ error }}</p>{% endif %}
            <p><input type="text" name="key" placeholder="Mailgun API key" class="u-full-width"></p>
            <p><button class="button button-primary u-full-width" type="submit">Get Domains</button></p>
            <p></p>
          </form>

      </div>
    </div>
  </div>
</section>

</body>
</html>
