{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <div class="feed">
      <div class="row th">
        <div class="two columns" >
          <a href="">When <i class="icon-arrow-down"></i></a>
        </div>
        <div class="four columns">
          Mail id
        </div>
        <div class="two columns center" >
          <a href="">Deliveries (Bounced)</a>
        </div>
        <div class="two columns center" >
          <a href="">Opens (Unique)</a>
        </div>
        <div class="two columns center" >
          <a href="">Clicks (Unique)</a>
        </div>
      </div>
      <div class="row">
        <div class="two columns" >
          2hrs ago
        </div>
        <div class="four columns">
          <a href="">Here is the long title</a>
        </div>
        <div class="two columns center" >
          <a href="">10 (0)</a>
        </div>
        <div class="two columns center" >
          <a href="">7 (6)</a>
        </div>
        <div class="two columns center" >
          <a href="">2 (2)</a>
        </div>
      </div>
      <div class="row">
        <div class="two columns" >
          5hrs ago
        </div>
        <div class="four columns">
          <a href="">Something else</a>
        </div>
        <div class="two columns center" >
          <a href="">56 (2)</a>
        </div>
        <div class="two columns center" >
          <a href="">17 (17)</a>
        </div>
        <div class="two columns center" >
          <a href="">0 (0)</a>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
