{% include 'partials/header' %}

<section style="margin:50px 0">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h5 class="pad-btm"><a href="/"><i class="icon-bar-graph-2"></i></a></h5>
        <p>&nbsp;</p>

          <h5>Privacy Policy</h5>
          <p>This service is committed to protecting your privacy. This page details how information is collected and used by the managed service.</p>

          <p><strong>Information collected</strong></p>
          <p>When you sign up, the service collects your email and a password for identification purpose. These credentials allow you access the managed service and provides an identifier to map everything related to you on the service to.</p>

          <p>We also ask you provide the Mailgun API Key for the domain you want to add. This is to allow the service get information related to the domain and be able to provide the necessary reporting and analytics.</p>

          <p>You can connect a Slack account to get notifications on. When you do, the service redirects you to Slack for access authorisation. The scope of the access is limited to just what it is needed for&mdash;to send the required notifications to your selected Slack channel. It can not do anything else, e.g., read your Slack conversations.</p>

          <p>When you login, a tiny piece of information (called cookies) is stored on your browser for authentication purpose. These cookies only last during the browsing session and does not contain any sensitive data about you.</p>

          <p>To delete your account at any time, kindly send a tweet to <a href="http://twitter.com/suet_co">@suet_co</a> or email <a href="mailto:hello@suet.co">hello@suet.co</a> and all data related to you will be completely removed from the system. (Soon, you will be able to delete your account from the dashboard yourself).<p>

          <p><strong>Information Disclosure</strong></p>

          <p>We will not give, sell, rent, or loan any information related to you to any third party. We may provide non-personal statistics about the service use and traffic patterns to reputable third-party vendors, but these statistics will include no personally identifying information.</p>

          <p>All collected data are protected by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</p>

          <p><strong>Changes to Policy</strong></p>

          <p>We may change or supplement this Privacy Policy from time to time and we will post revised versions of this Policy on the Site.</p>

          <p><strong>Contact</strong></p>

          <p>All questions and concerns about your privacy can be sent to <a href="http://twitter.com/suet_co">@suet_co</a> or <a href="mailto:hello@suet.co">hello@suet.co</a></p>
      </div>
    </div>
  </div>
</section>

{% include 'partials/footer' %}
