{% include 'partials/header' %}

<section style="margin-top:10%">
  <div class="container">
    <div class="row">
      <div class="four columns offset-by-four">
        <h5 class="center pad-btm"><a href="/"><i class="icon-bar-graph-2"></i></a></h5>
        <div class="box">
          <form method="post">
            <p><strong>Create new password</strong></p>
            {% if error %}<p class="error">{{ error }}</p>{% endif %}
            <p><input type="password" name="password" class="u-full-width" placeholder="New Password" required></p>
            <p><input type="password" name="passwordb" class="u-full-width" placeholder="Retype Password" required></p>
            <p><button class="button button-primary u-full-width">Update</button></p>
          </form>
        </div>
        <p class="center"><a href="/login">Back</a></p>
      </div>
    </div>
  </div>
</section>

</body>
</html>
