{% include 'partials/header.liquid' %}

<section style="margin-top:10%">
  <div class="container">
    <div class="row">
      <div class="six columns offset-by-three">
        <h5 class="center pad-btm"><a href="/"><i class="icon-bar-graph-2"></i></a></h5>
        <div class="box">
          <p><strong>Select Email Service Provider</strong></p>
          <div class="feed top-10">
            <div class="row">
              <div class="twelve columns">
                <a href="/mailgun/add-key" style="display:block">Mailgun</a>
              </div>
            </div>
            <div class="row" style="background-color: #fff;border-top:1px solid #fbfbfb">
              <div class="twelve columns"><a href="/ses/add-key" style="display:block">Amazon SES <sup class="fade">beta</sup></a></div>
            </div>
          </div>
        </div>
        <p class="center"><a href="/logout">Logout</a></p>
      </div>
    </div>
  </div>
</section>

</body>
</html>
