{% include 'partials/header-dashboard' %}

<section style="margin:50px 0">
  <div class="container">

    <div class="row">
      <div class="twelve columns">
        <div class="box">

          <h5>Support</h5>
          <p>Support is available through the following channels:</p>

          <p>&nbsp;</p>

          <div class="row">
            <div class="four columns">
              <div class="box">
                <p><strong>Email</strong></p>
                <p><a href="mailto:hello@suet.co">hello@suet.co</a></p>
              </div>
            </div>
            <div class="four columns">
              <div class="box">
                <p><strong>Github Issues</strong></p>
                <p><a href="https://github.com/kehers/suet/issues">github.com/kehers/suet/issues</a></p>
              </div>
            </div>
            <div class="four columns">
              <div class="box">
                <p><strong>Twitter</strong></p>
                <p><a href="http://twitter.com/suet_co">@suet_co</a></p>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>

{% include 'partials/footer' %}
