{% include 'partials/header' %}

<section style="margin:50px 0">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h5 class="pad-btm"><a href="/"><i class="icon-bar-graph-2"></i></a></h5>
        <p>&nbsp;</p>

<h5>Terms of Service</h5>
<p>Suet is an analytics dashboard and reporting tool for transactional emails sent through <a href="https://mailgun.com">Mailgun</a>. The way it works is it connects to your Mailgun account via webhooks and the Mailgun API to receive your mail events. These events are then mined, formatted and presented in an easy to understand form.</p>

<p>Suet comes in two forms—the managed service at <a href="https://suet.co">suet.co</a> and the open source version at <a href="https://github.com/kehers/suet">github.com/kehers/suet</a>. This terms covers use of the manage service. By visiting the website and using Suet as a managed service, you agree to be bound by this terms. You agree to indemnify and hold Suet harmless from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the service.</p>

<p><strong>Accounts</strong></p>
<p>You are responsible for every activity that occur under your account either by you or users you’ve granted access to. It is therefore your responsibility to ensure your credentials are secure.</p>

<p>You may not use the Service for any illegal or unauthorised purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).</p>

<p>You can delete your account anytime by accessing your profile page in the Suet dashboard. This will remove all associated data linked to your account.</p>

<p id="payment"><strong>Payment and Refunds</strong></p>
<p>You have 30 days free trial to test the service and be sure you want to pay. Once you are convinced and add your payment details, you will be charged on the last day of every month based on the number of events consumed for the month as detailed in <a href="https://suet.co/#pricing">pricing</a>. You will be sent an invoice 2 days earlier to remind you and let you know the expected charge. </p>

<p>You can always cancel your subscription anytime. Once canceled, you will not be charged for that month and henceforth, but your domains will also stop receiving events from Mailgun. You can always resubscribe to get your domains enabled again. If you resubscribe outside the month you cancelled, you will be charged for events used in the month you cancelled. What this means is if for example you cancelled on May 20 (having used 5k events) and resubscribed July 3, you will immediately  be charged for the pending 5k events for May. (July’s charge comes on the last day of July).</p>
<p>Once cancelled, events for your domains will still be available for 30 days. This is so should you change your mind. After that, they will be completely removed from the service. Your profile and domains will still be available though. You can completely remove your account from your settings page on Suet.</p>
<p>Payments on Suet is powered by <a href="https://stripe.com/">Stripe</a>, a leader in online payments. No card details is communicated with or stored on the Suet server. Stripe takes care of this securely.</p>

<p>If for any reason you think you deserve a refund for any of your payments, kindly send a mail to hello@suet.co. It will be promptly addressed.</p>

<p><strong>Modifications to Service and Prices</strong></p>
<p>Suet reserves the right to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with prior notice.</p>

<p>Prices are subject to change upon 30 days of notice. Such notice may be provided at any time by posting the changes to the <a href="http://updates.suet.co">blog</a> or twitter account (<a href="https://twitter.com/suet_co">@suet_co</a>).</p>

<p>Suet shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuation of the Service.</p>

<p><strong>Contact</strong></p>
<p>Questions about the Terms of Service should be sent to <a href="https://twitter.com/suet_co">@suet_co</a> or <a href="mailto:hello@suet.co">hello@suet.co</a></p>

      </div>
    </div>
  </div>
</section>

{% include 'partials/footer' %}

