<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Mails</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/feather.css">

</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="one columns">
        <h5><a href="/"><i class="icon-bar-graph-2"></i></a></h5>
      </div>
      <div class="five columns">
        <input type="text" placeholder="Search here. Type and hit enter" name="q" class="u-full-width">
      </div>
      <div class="six columns align-right">
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/feed">Feed</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <!--
      Country
      Device OS
      Clients
      Platform (mobile/desktop~)
      Top clicks
      Top opens
      Time graph of engagement
    -->
    <div class="row pad-btm">
      <div class="six columns">
        <strong><!--img src="http://www.gravatar.com/avatar/41f84bab4a852971eb1d26a287acb763" class="avatar"--> Email here</strong>
      </div>
      <div class="two columns center">
        <strong>X deliveries</strong>
      </div>
      <div class="two columns center">
        <strong>X opens (n %)</strong>
      </div>
      <div class="two columns center">
        <strong>X clicks (n %)</strong>
      </div>
    </div>
    <div class="row pad-btm">
      <div class="twelve columns">
        <div class="box">Graph</div>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <div class="box">User feed here</div>
      </div>
      <div class="six columns">
        <div class="box">Clicks</div>
        <div class="box">Opens</div>
        <div class="box">Deliveries</div>
        <div class="box">Bounces</div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
