# Rename this file to .env

# General
HOST="https://domain.tld"
# WEBHOOK="http://webhook-handler.tld/suet"

# DB
DB_URL="mongodb://localhost/suet"

# Email (for password recovery and other things that may come)
EMAIL_FROM="Domain <no-reply@domain.tld>"
EMAIL_KEY="key-1234567890"
EMAIL_DOMAIN="domain.tld"

# Slack
#SLACK_CLIENT_ID="123455666"
#SLACK_CLIENT_SECRET="99904049484847447"

# Other stuff
#PORT=3000
