  <footer>

  </footer>

  <script>
    var HW_config = {
      selector: ".headway",
      account: "J3nOe7"
    };
  </script>
  <script async src="//cdn.headwayapp.co/widget.js"></script>

</body>
</html>
