
  <footer>
      <div class="container">
        <div class="row">
          <p class="right">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>, <a href="http://everygood.co/">Every Good Inc</a></p>
          <ul>
            <li><a href="http://twitter.com/suet_co">@suet_co</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/terms">Terms of Service</a></li>
            <li><a href="mailto:hello@suet.co">Contact</a></li>
            <li><a href="http://github.com/kehers/suet">Download</a></li>
            <li><a href="https://trello.com/b/SvvPRfWA">Roadmap</a></li>
            <li><a href="https://headwayapp.co/suet-changelog">Updates</a></li>
            <li><a href="/support">Support</a></li>
          </ul>
        </div>
      </div>
  </footer>

  <script async src="//cdn.headwayapp.co/widget.js"></script>
  <script>
    var HW_config = {
      selector: ".headway",
      account: "J3nOe7"
    };
  </script>
</body>
</html>
