<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="slack-app-id" content="A6566DWTS">
  <link href="//fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css?19112017">
  <link rel="stylesheet" href="/css/feather.css">
  <link rel="icon" href="/favicon.ico">

</head>
<body>
